<form action="/login" method="post">
	<input type="text" name="user" value="dani" autocomplete="username">
	<input type="password" name="password" value="123" autocomplete="current-password">
	<input type="submit" value="Login">
</form>